language: shell

os:
    - linux
    - osx
    - windows

addons:
    apt:
        update: false
        packages: &common-apt-packages
            - vim

    homebrew:
        update: false
        packages:
            - vim

    choco:
        update: false
        packages:
            - vim

before-script:
    case $TRAVIS_OS_NAME in
      windows)
        vim --version;
        ./install.bat;
        ;;
      linux)
        vim --version;
        sudo chmod +x test/test.sh;
        make kiss;
        ;;
      osx)
        vim --version;
        sudo chmod +x test/test.sh;
        make kiss;
        ;;
    esac

script:
    test/test.sh
