version: 1.0.{build}
clone_folder: '%USERPROFILE%'
install:
- ps: choco install vim
cache:
- C:\ProgramData\chocolatey\bin
- C:\ProgramData\chocolatey\lib
build_script:
- cmd: >-
    install.bat
    if not exist "%USERPROFILE%\.vimrc" exit 1
    vim --version
    vim -S test/testvim.vim +qall
    echo %cd%
    dir
    if not exist "%cd%\vimpassed.txt" exit 1
before_test:
- cmd: ''
